service: ${env:SERVICE, "gbraver-burst-sls-dev"}
frameworkVersion: "4"

custom:
  connections: ${self:service}__${sls:stage}__connections
  casualMatchEntries: ${self:service}__${sls:stage}__casual-match-entries
  battleCommands: ${self:service}__${sls:stage}__battle-commands
  battles: ${self:service}__${sls:stage}__battles
  privateMatchRooms: ${self:service}__${sls:stage}__private-match-rooms
  privateMatchEntries: ${self:service}__${sls:stage}__private-match-entries

provider:
  name: aws
  logs:
    websocket: true
  runtime: nodejs22.x
  region: ap-northeast-1
  tracing:
    lambda: true
  httpApi:
    name: ${self:service}__${sls:stage}__rest-api
    cors:
      allowedOrigins:
        - ${env:ALLOW_ORIGIN, ''}
        - ${env:TEST_ALLOW_ORIGIN, ''}
      allowedHeaders:
        - Content-Type
        - Authorization
      allowedMethods:
        - DELETE
      allowCredentials: true
      exposedResponseHeaders:
        - Special-Response-Header
      maxAge: 6000 # In seconds
  websocketsApiName: ${self:service}__${sls:stage}__ws-api
  websocketsApiRouteSelectionExpression: $request.body.action
  environment:
    SERVICE: ${self:service}
    STAGE: ${sls:stage}
    WEBSOCKET_API_ID:
      Ref: WebsocketsApi
    COGNITO_USER_POOL_ID: ${env:COGNITO_USER_POOL_ID, ''}
    COGNITO_CLIENT_ID: ${env:COGNITO_CLIENT_ID, ''}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - "xray:PutTraceSegments"
            - "xray:PutTelemetryRecords"
          Resource: "*"
        - Effect: Allow
          Action:
            - "dynamodb:PutItem"
            - "dynamodb:GetItem"
            - "dynamodb:DeleteItem"
            - "dynamodb:Query"
            - "dynamodb:Scan"
            - "dynamodb:BatchWrite*"
          Resource:
            - Fn::GetAtt: [ConnectionsTable, Arn]
            - Fn::GetAtt: [CasualMatchEntriesTable, Arn]
            - Fn::GetAtt: [BattleCommandsTable, Arn]
            - Fn::GetAtt: [BattlesTable, Arn]
            - Fn::GetAtt: [PrivateMatchRoomsTable, Arn]
            - Fn::GetAtt: [PrivateMatchEntriesTable, Arn]
            - Fn::Join:
                [
                  "/",
                  [
                    "Fn::GetAtt": [PrivateMatchRoomsTable, Arn],
                    "index",
                    "roomID",
                  ],
                ]
        - Effect: Allow
          Action:
            - "execute-api:ManageConnections"
          Resource:
            - "arn:aws:execute-api:*:*:**/@connections/*"

functions:
  webSocketAPIAuthorizer:
    handler: src/authorizer.authorizer
  connect:
    handler: src/connect.connect
    events:
      - websocket:
          route: $connect
          authorizer:
            name: webSocketAPIAuthorizer
            identitySource:
              - "route.request.querystring.token"
  disconnect:
    handler: src/disconnect.disconnect
    events:
      - websocket:
          route: $disconnect
  ping:
    handler: src/ping.ping
    events:
      - websocket:
          route: ping
  enterCasualMatch:
    handler: src/enter-casual-match.enterCasualMatch
    events:
      - websocket:
          route: enter-casual-match
  sendCommand:
    handler: src/send-command.sendCommand
    events:
      - websocket:
          route: send-command
  battleProgressPolling:
    handler: src/battle-progress-polling.battleProgressPolling
    events:
      - websocket:
          route: battle-progress-polling
  createPrivateMatchRoom:
    handler: src/create-private-match-room.createPrivateMatchRoom
    events:
      - websocket:
          route: create-private-match-room
  enterPrivateMatchRoom:
    handler: src/enter-private-match-room.enterPrivateMatchRoom
    events:
      - websocket:
          route: enter-private-match-room
  privateMatchMakingPolling:
    handler: src/private-match-make-polling.privateMatchMakePolling
    events:
      - websocket:
          route: private-match-make-polling

resources:
  Resources:
    ConnectionsTable:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: ${self:custom.connections}
        AttributeDefinitions:
          - AttributeName: connectionId
            AttributeType: S
        KeySchema:
          - AttributeName: connectionId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
    CasualMatchEntriesTable:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: ${self:custom.casualMatchEntries}
        AttributeDefinitions:
          - AttributeName: userID
            AttributeType: S
        KeySchema:
          - AttributeName: userID
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
    BattleCommandsTable:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: ${self:custom.battleCommands}
        AttributeDefinitions:
          - AttributeName: userID
            AttributeType: S
        KeySchema:
          - AttributeName: userID
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
    BattlesTable:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: ${self:custom.battles}
        AttributeDefinitions:
          - AttributeName: battleID
            AttributeType: S
        KeySchema:
          - AttributeName: battleID
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
    PrivateMatchRoomsTable:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: ${self:custom.privateMatchRooms}
        AttributeDefinitions:
          - AttributeName: owner
            AttributeType: S
        KeySchema:
          - AttributeName: owner
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
    PrivateMatchEntriesTable:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: ${self:custom.privateMatchEntries}
        AttributeDefinitions:
          - AttributeName: roomID
            AttributeType: S
          - AttributeName: userID
            AttributeType: S
        KeySchema:
          - AttributeName: roomID
            KeyType: HASH
          - AttributeName: userID
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
  Outputs:
    WebsocketApiId:
      Description: "id of websocket api gateway"
      Value:
        Ref: WebsocketsApi
      Export:
        Name: ${self:service}:${sls:stage}:WebsocketApiId
    ConnectionsTableArn:
      Description: "arn of connections table"
      Value:
        Fn::GetAtt: [ConnectionsTable, Arn]
      Export:
        Name: ${self:service}:${sls:stage}:ConnectionsTableArn
    CasualMatchEntriesTableArn:
      Description: "arn of casual match entries table"
      Value:
        Fn::GetAtt: [CasualMatchEntriesTable, Arn]
      Export:
        Name: ${self:service}:${sls:stage}:CasualMatchEntriesTableArn
    BattlesTableArn:
      Description: "arn of battles table"
      Value:
        Fn::GetAtt: [BattlesTable, Arn]
      Export:
        Name: ${self:service}:${sls:stage}:BattlesTableArn
    BattleCommandsTableArn:
      Description: "arn of battle commands table"
      Value:
        Fn::GetAtt: [BattleCommandsTable, Arn]
      Export:
        Name: ${self:service}:${sls:stage}:BattleCommandsTableArn
